body {
  /*background-color: darkred;*/
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 40px;
}

/* Customize scrollbar for WebKit browsers */
body::-webkit-scrollbar {
  width: 5px; /* Specify the width of the scrollbar */
}

/* Customize scrollbar thumb for WebKit browsers */
body::-webkit-scrollbar-thumb {
  background-color: #36204d; /* Specify the color of the scrollbar thumb */
  border-radius: 4px; /* Specify the border radius of the scrollbar thumb */
}

/* Hide the scrollbar track and button */
body::-webkit-scrollbar-track {
  background-color: transparent; /* Set background color of track to transparent */
  border: none; /* Remove border */
}

body::-webkit-scrollbar-button {
  display: none; /* Hide the scrollbar button */
}

@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/inter/Inter-Regular.ttf');
}

@font-face {
  font-family: 'InterThin';
  src: url('assets/fonts/inter/Inter-Thin.ttf');
}

p, h1, h2, h3, h4, h5, h6, div {
	font-family: 'Inter';
	color: white;
}

p {
  margin: 0;
}

.sidebar {
  display: flex;
  position: fixed;
  top: 40px ;
  flex-direction: column;
  margin: 0;
  margin-top: -7px;
  height: 100%;
  overflow-y: hidden;
  z-index: 5;
}

.sidebar-button {
  background-color: #00000000;
  border-radius: 15px;
  border: 0;
  padding: 5px;
  padding-top: 7px;
  padding-left: 20px;
  margin: 2px;
  margin-top: 10px;
  width: 155px;
  height: 40px;
  display: flex;
  box-shadow: 0px 0px 0px #00000030;
  transition-duration: 0.2s;
}

.sidebar-buttonText {
  text-align: left;
  margin-top: -2px;
  margin-left: 5px;
  padding-left: 5px;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  font-size: 15px;
}

.sidebar-button:hover {
  scale: 1.02;
  background-color: #ffffff10;
  box-shadow: 0px 0px 20px #00000030;
}

.sidebar-button:active {
  scale: 0.99;
  background-color: #00000040;
  box-shadow: 0px 0px 20px #00000030;
}

.v-line {
  border-left: 2px solid #ffffff10;
  height: 467px;
  position: absolute;
  left: 180px;
  margin-top: 50px;
  margin-left: -3px;
  position: fixed;
  top: 0px;

}

hr {
  opacity: 1;
  margin: 0;
  margin-left: 10px;
  border: 1px solid #ffffff10;
  width: 140px;
}

.settings {
  position: flex;
  flex-direction: column;
  margin: 0;
  overflow-y: auto;
}

.content {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  padding-left: 200px;
  padding-top: 35px;
  opacity: 0;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.section {
  border: 2px solid #ffffff10;
  border-radius: 10px;
  padding: 12px;
  display: inline-flex;
  flex-direction: column;
  align-items: left;
  /*justify-content: center;*/
  box-shadow: 0px 0px 20px #00000070;
  width: 300px;
}

.label {
  font-size: 12px;
  color: #ffffff70;
}

.zdksection {
  border: 2px solid #ffffff10;
  border-radius: 10px;
  padding: 12px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 200px;
  box-shadow: 0px 0px 20px #00000070;
}

.h-layout {
  display: inline-flex;
  flex-direction: column;
}

.v-layout {
  display: inline-flex;
  flex-direction: row;
}

iframe {
  background-color: transparent;
}

.close {
  background-color: #00000000;
  border: 0;
  width: 40px;
  height: 40px;
}

.close:hover {
  background-color: #00000050;
  scale: 1.05;
}

.titlebar {
  background-color: #00000070;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  height: 40px;
  z-index: 10;
}

.windowtextbox {
  align-items: right;
  width: 100px;
}

input {
  background-color: #00000070;
  border: 0;
  border-radius: 5px;
  padding: 2px;
  color: white;
  font-family: 'Inter';
  outline: 0px solid #00000050;
  transition-duration: 0.2s;
}

input:focus {
  outline: 2px solid #00000050;
}

/* Hide the default number input arrows */
input[type=number] {
  -webkit-appearance: none; /* WebKit/Blink browsers */
  -moz-appearance: textfield; /* Firefox */
  appearance: textfield; /* Standard */
}

button {
  background-color: #00000070;
  font-family: 'Inter';
  color: white;
  border: 0;
  padding: 5px;
  border-radius: 10px;
  transition-duration: 0.2s
}

button:hover {
  background-color: #00000060;
  box-shadow: 0px 0px 7px #00000020;
  scale: 1.05;
}

button:active {
  background-color: #00000080;
  scale: 0.97;
}

@keyframes fadein {
  from {
    opacity: 0;
    pointer-events: none;
  }
  to {
    opacity: 1;
    pointer-events: all;
  }
}

.fadein {
  animation: fadein 0.2s ease-in-out forwards;
}

@keyframes fadeout {
  from {
    opacity: 1;
    pointer-events: all;
  }
  to {
    opacity: 0;
    pointer-events: none;
  }
}

.fadeout {
  animation: fadeout 0.2s ease-in-out forwards;
}

/* i've spent an unreasonable amount of time tryna figure out why the settings menu cant scroll */

.dialogbg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000050;
  z-index: 12;
  opacity: 0;
  pointer-events: none;
}

.addaccount {
  position: fixed;
  width: 190px;
  height: 120px;
  padding: 10px;
  margin: auto;
  inset: 0px;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(20px);
  /*background-color: #000000aa;*/
  background-color: #4d0101;
  border-radius: 20px;
  box-shadow: 0px 0px 40px #2b0000;
  z-index: 14; 
  gap: 5px;
  text-align: center;
  justify-content: center;
  align-items: center;
  opacity: 0;
  scale: 0.8;
}

.addaccbtn {
  width: 100%;
  box-shadow: 0px 0px 20px #00000050;
}

.addacccancel {
  width: 100px;
}

@keyframes popup {
  from {
    scale: 0.8;
    opacity: 0;
    pointer-events: none;
  }
  to {
    scale: 1;
    opacity: 1;
    pointer-events: all;
  }
}

.popup {
  animation: popup 0.3s ease-out forwards;
}

@keyframes popout {
  from {
    scale: 1;
    opacity: 1;
    pointer-events: all;
  }
  to {
    scale: 0.8;
    opacity: 0;
    pointer-events: none;
  }
}

.popout {
  animation: popout 0.3s ease-in forwards;
}